body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    height: 65px;
    color: white;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.brand img{
    width: 44px;
    padding: 8px;
}
.container{
    min-height: 70%;
    background-color: black;
    background-image: url("./images/cover.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 74vw;
    margin: 25px auto;
    padding: 3vw;
    background-position: right;
}
.Song{
    height: 70%;
    overflow: scroll;
}
.songContent{
    margin: 15px 0;
    display: flex;
    background-color: wheat;
    color: black;
    justify-content: space-between;
    padding: 0px 10px;
    width: 60%;
    height: 55px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
}
div.songContent:hover{
    background-color: white !important;
    transform: scale(1.03);
}
.songContent img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}
#songImage{
    width: 35px;
    height: 35px;
    background-image: url("./images/metallica.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    
    border-radius: 25px;
}   
/* #songName{
    font-size: 30px;
} */
span.playButton:hover{
    color: lightgreen;
    /* text-decoration: underline !important; */
    /* transform: scale(1.5); */
}
.bottom{
    position: sticky;
    background-color: black;
    color: white;
    bottom: 0px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#myProgressBar{
    margin: auto;
    width: 70%;
    height: 10px;
    cursor: pointer;
}
.range{
    width: 100%;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
.arrowButtons{
    position: relative;
    display: flex;
    bottom: 0px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.play-pause-stop{
    /* text-align: center; */
    margin: 0 auto;
}
.gif{
    display: flex;
    position: absolute;
    left: 10px;
    margin-top: 25px;
}
.bottom-name{
    font-size: 25px;
    font-weight: bold;
}
.gif img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.shuffle{
    cursor: pointer;
    margin-right: 15px;
}
.shuffle:hover,#prev:hover,#masterplay:hover,#next:hover{
    color: lightgreen !important;
}

@media screen and (max-width: 750px) {
    .gif,#shuffle-icon
    {
        position: inherit;
    }
    .gif{
        margin-top: 0px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #prev,#next,#masterplay,#shuffle-icon {
        font-size: 25px;
    }
    .bottom-name{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .songContent {
        width: 90%;
    }
    .songName{
        font-size: 20px;
    }
}
